	{% extends "pdfwebsite/base.html" %}
	{% block content %}
	<h1>Upload any PDF to make it look like it was scanned!</h1>

	<div class="col-md-12">
		<p>Tired of being asked to print and scan your signed PDF? Just use a digital signature, upload your document and we will make it look like it was scanned</p>
		<p>Document will be available for 1 hour. Maximum of 10 pages PDF.</p>
		

		<div class="loading">
			<div class='uil-ring-css' style='transform:scale(0.79);'>
			</div>
		</div>



    {% if url %}
    <div class="file-upload centrar">
    	<p>Your document is ready</p>
		<a class="btn btn-primary justify-content-center col-sm" href="{{ url }}">Download</a>
		<br/><br/>
    </div>


		{% elif error %}
		<div class="file-upload centrar">
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
		</div>



		{% else %}

		<div class="file-upload" id="file-upload">
			<form method="post" enctype="multipart/form-data" id="form">
				{% csrf_token %}
				<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add File</button>

				<div class="image-upload-wrap">
					<input class="file-upload-input" type='file' onchange="readURL(this);" accept="application/pdf" name="document" />
					<div class="drag-text">
						<h3> Drop File here or select Add File</h3>
					</div>
				</div>
				<div class="file-upload-content">
				</br>
				<div>
					<p class="file-upload-name"></p>
				</div>
				<div class="row">
					<div class="image-title-wrap col-sm-6 align-items-start">
						<button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
					</div>
					<div class="image-title-wrap col-sm-6 align-items-end">
						<button type="submit" id="btn_upload" class="file-upload-btn">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	{% endif %}


	<div>
	</br></br></br>
	<p>Questions? Contact us at hello@scanyourpdf.com</p>
</div>
</br></br>
<p>Like the service? Help us keep the servers running!</p>
<p>Bitcoin Address: 15PEGoC5PbGz9obPJvWWu4YEikiF4UPJza <br>
Ethereum Address: 0x26873FcbFcC6570aE7Dbd4852c872C70A46CB113
</p>


<div class="container" align="center">
PayPal 
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="P8YGRZB7GQZCY" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		</form>		
</div>


</div>


<script>


	function readURL(input) {
		if (input.files && input.files[0]) {

			var reader = new FileReader();

			reader.onload = function(e) {
				$('.image-upload-wrap').hide();

				$('.file-upload-name').text(input.files[0].name);
				$('.file-upload-content').show();

				$('.image-title').html(input.files[0].name);
				console.log(input.files[0].name);
			};

			reader.readAsDataURL(input.files[0]);

		} else {
			removeUpload();
		}
	}


	function removeUpload() {
		$('.file-upload-input').replaceWith($('.file-upload-input').clone());
		$('.file-upload-content').hide();
		$('.image-upload-wrap').show();
	}
	$('.image-upload-wrap').bind('dragover', function () {
		$('.image-upload-wrap').addClass('image-dropping');
	});
	$('.image-upload-wrap').bind('dragleave', function () {
		$('.image-upload-wrap').removeClass('image-dropping');
	});


</script>
{% endblock content %}